.input-n{
    width: 255px;
    height: 25px;
}
.country{
    padding: 0.5rem;
}

.btn-s{
    color: #282c34;
    background: transparent;
    border: 2px solid #d01717;
    border-radius: 6px;
    width: 60px;
    height: 35px;
}

.btn-s:hover{
    color: #fff;
    background: #d01717;
}

.create{
    background: #5ec320;
    /* margin-left: 50%; */
    /* margin-right: 50%; */
    border-radius: 13%;
    width: 28rem;
    margin: auto;
    /* height: 183px; */
    /* border-color: white; */
    border: 2px solid #0a0a09;
    height: 495px;
    margin-top: 18px;
}

.img2{
    width: auto;
    height: 150px;
}